*{
  transition:0.2s ease-in-out;
  color: white;
  margin: 0;
  padding: 0;
overflow-wrap: break-word;
}
.video-container h1,
.video-container p {
  white-space: normal;        /* يخلي النص يتكسر عادي */
  overflow-wrap: break-word;  /* يكسر الكلمة الطويلة */
  word-break: break-word;     /* دعم إضافي للكسر */
  max-width: 100%;            /* يلتزم بعرض الكارت (الصورة) */
  display: block;             /* يخلي النص عنصر بلوك */
}


.video-container{
cursor: pointer;
width:320px;
height: auto;
flex-wrap: wrap;
border-radius: 20px;
margin: 20px auto;
white-space: normal;



}
.video-container p {
  font-size: 10px;
  color: white;
  padding: 10px 5px;
  font-family: sans-serif;
  font-weight: bold;
min-width: 0; /* مهم عشان يسمح للنص يتكسر */

}
.video-container h1{
   font-size: 13px;
   font-family: sans-serif;
   text-align: start;
padding: 0 5px;
font-weight: bold;
min-width: 0; /* مهم عشان يسمح للنص يتكسر */

  }
.video-container img{
width: 320px;
border-radius: 10px;
}

.video-container :active{
  scale: 0.8;
  transition: 0.1s ;
}
.sidebar-video{
  display: flex;
  width: 100%;
  padding: 10px 0;
  justify-content: center;
  height: fit-content;
}
.text {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.text h1{
   font-size: 15px;
   font-family: sans-serif;
   text-align: start;
padding: 0 10px;
font-weight: bold;
  }
.text p {
   font-family: sans-serif;
  font-size: 10px;
text-align: start;
padding: 2px 10px;
}
 .photo{
  
  width: 40%;
  height: auto ;
}
.photo img {
  width: 100%;
}
.sidebar{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 40%;
  display: flex;
  flex-direction: column;
}
.slidebar-video{
  padding: 10px 0;
}
.videoplayer{
  display: flex;
  justify-content: space-between;
}
.baba{
  display: flex;
  flex-wrap: wrap ;
  width: 100%;
  height: auto;
  gap: 10px;
}
iframe{
  border:  none;
  
}
.navbar{
  margin: 20px auto;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items:center;
}

.navbar input{
  background-color: black;
  color: rgb(181, 179, 179);
  width: 50%;
  height: 30px;
  border: 1px solid gray;
  border-radius:10px;
}

/* دي بتظهر بس في الديسكتوب */
.search-input {
  display: block;
}

.navbar .search {
  display: none;
}

/* الموبايل */
@media only screen and (max-width: 600px) {
  .search-input {
    display: none;
  }
  .search-input.active {
    display: block;
  }
  .navbar .search {
    display: block;
  }

.videoplayer {
  display: block;
  width: 100%;
    margin: 0 auto;
  
}
.sidebar{
  width: 100%;
  display: block;
  padding: 50px 0;
}
  .photo {
    width: 100%;
  height: auto;
  }
  .text{
    width: 100%;
  }
.sidebar-video{
  display: block;
padding: 10px 0;
}

iframe{
  width: 100%;
  height: auto ;  
  margin: 20px auto;
}
 
}
